ALTER TABLE banners ADD COLUMN IF NOT EXISTS description TEXT;
ALTER TABLE banners ADD COLUMN IF NOT EXISTS \
buttonText\ TEXT;
ALTER TABLE banners ADD COLUMN IF NOT EXISTS \buttonLink\ TEXT;
ALTER TABLE banners ADD COLUMN IF NOT EXISTS \containMode\ BOOLEAN DEFAULT FALSE;
NOTIFY pgrst, 'reload schema';
